<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Not AirBnB</title>
    <style>
        .frontPageTitle{
            font-size: 8em;
        }
        .frontPageTitle:hover{
            cursor: default;
        }
        .topButtons{
            border: none; 
            background-color: white;
            font-size: 1em;
        }

        .topButtons:hover{
            background-color: lightgray;
            cursor: pointer;
        }

    </style>
</head>
<body>
    <div style="
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 15px;
        font-size: 1.5em;">
        <button class="topButtons" onclick="get('/search')">Browse All</button> |
        <button class="topButtons" onclick="get('/rentOutPlace')">Rent out a Space</button>
    </div>
	<div style="margin: auto; text-align: center;">
		<p class="frontPageTitle">Not AirBnB</p>
		<div>
            <form action="/search" method="get">
                <input size="100" placeholder ="Search for a location!" name="location" id="searchBar"></input>
                <input type="submit" onclick="sendSearch()" value="Go!"/>
            </form>
		</div>
	</div>

    <script>
            function sendSearch() {
                var options = document.getElementById('searchBar');
                var url = new URL(window.location.href);
                let params = new URLSearchParams(url.search);

                params.set('location', 'options');
                window.location.href = url.toString;
            }

            function get(path, method='get') {
                const form = document.createElement('form');
                form.method = method;
                form.action = path;

                document.body.appendChild(form);
                form.submit();
            }
</script>
	
</body>