<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	<title>Not AirBnB</title>
    <style>
        .frontPageTitle{
            color: #FF5A5F;
            font-size: 8em;
            font-family: "Poppins", sans-serif;
        }
        .frontPageTitle:hover{
            cursor: default;
        }
        .topButtons{
            border: none;
            font-size: 1em;
            color: white;
            border-radius: 4px;
            border: none;
            text-decoration: none;
            transition-duration: 0.3s;
            cursor: pointer;
            background-color: transparent;
            font-family: "Poppins", sans-serif;
        }

        .topButtons:hover{
            color: #FF5A5F;
            cursor: pointer;
        }

        .backgroundImage{
            background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/4Xw4byPvl/videoblocks-4k-footage-of-a-yellow-american-suburban-house-rising-to-show-the-rooftops-of-other-houses-in-the-neighborhood_hfuo7ob_u_thumbnail-1080_01.png");
            width: 99vw;
            height: 80vh;
            margin: 0px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-blend-mode: saturation;

        }

    </style>
</head>
<body class="backgroundImage">
    <div style="
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 15px;
        font-size: 1.5em;
        color: white;">
        <button class="topButtons" onclick="get('/search')">Browse All</button> |
        <button class="topButtons" onclick="get('/manageProperty')">Manage Property</button>
    </div>
	<div style="margin: auto; text-align: center;">
		<p class="frontPageTitle">Not AirBnB</p>
		<div>
            <form action="/search" method="get">
                <input size="100" placeholder ="Search for a location! Enter a city." 
                    name="location" id="searchBar" style="font-family: 'Poppins', sans-serif;"/>
                <input type="submit" onclick="sendSearch()" value="Go!" style="font-family: 'Poppins', sans-serif;"/>
            </form>
		</div>
	</div>

    <script>
            function sendSearch() {
                var options = document.getElementById('searchBar');
                var url = new URL(window.location.href);
                let params = new URLSearchParams(url.search);

                params.set('location', 'options');
                window.location.href = url.toString;
            }

            function get(path, method='get') {
                const form = document.createElement('form');
                form.method = method;
                form.action = path;

                document.body.appendChild(form);
                form.submit();
            }
</script>
	
</body>