.navigationBar{
    border-color: black;
    border-bottom: solid;
    border-width: 1px;
    height: 60px;
}

.rightSideNav{
    right: 0px;
    padding: 15px;
    font-size: 1em;
    position: absolute;
    top: 0px;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

.leftSideNav{
    left: 0px;
    font-size: 1.5em;
    position: absolute;
    top: 0px;
    margin: 15px;
}

.topButtons{
    border: none; 
    background-color: white;
    font-size: 1.5em;
}

.topButtons:hover{
    background-color: lightgray;
    cursor: pointer;
}

.spaceDivs{
    width: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
}

.rightDivider{
    border-right: solid;
    border-color: black;
    border-width: 1px;
}